USE [master]
GO
/****** Object:  Database [Messenger]    Script Date: 5/30/2024 4:19:51 PM ******/
CREATE DATABASE [Messenger]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Messenger', FILENAME = N'/var/opt/mssql/data/Messenger.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Messenger_log', FILENAME = N'/var/opt/mssql/data/Messenger_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Messenger].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Messenger]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 5/30/2024 4:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ChatID] [int] IDENTITY(1,1) NOT NULL,
	[ChatName] [nvarchar](50) NULL,
	[backgroundCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 5/30/2024 4:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[MessageContent] [nvarchar](max) NOT NULL,
	[ChatID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[SenderID] [int] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 5/30/2024 4:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[statusVal] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userNchat]    Script Date: 5/30/2024 4:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userNchat](
	[UserID] [int] NOT NULL,
	[ChatID] [int] NOT NULL,
 CONSTRAINT [PK_userNchat] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/30/2024 4:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[AvatarCode] [nvarchar](max) NULL,
	[StatusID] [int] NOT NULL,
	[SessionCode] [nvarchar](9) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([ChatID], [ChatName], [backgroundCode]) VALUES (94, N'maiper<->adun', NULL)
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MessageID], [MessageContent], [ChatID], [Status], [DateTime], [SenderID]) VALUES (213, N'das', 92, 1, CAST(N'2024-05-09T13:04:23.940' AS DateTime), 3)
INSERT [dbo].[Message] ([MessageID], [MessageContent], [ChatID], [Status], [DateTime], [SenderID]) VALUES (214, N'ds', 92, 1, CAST(N'2024-05-09T13:04:24.130' AS DateTime), 3)
INSERT [dbo].[Message] ([MessageID], [MessageContent], [ChatID], [Status], [DateTime], [SenderID]) VALUES (215, N'da', 92, 1, CAST(N'2024-05-09T13:04:24.263' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([statusID], [statusVal]) VALUES (1, N'Online')
INSERT [dbo].[status] ([statusID], [statusVal]) VALUES (2, N'Offline')
SET IDENTITY_INSERT [dbo].[status] OFF
GO
INSERT [dbo].[userNchat] ([UserID], [ChatID]) VALUES (2, 93)
INSERT [dbo].[userNchat] ([UserID], [ChatID]) VALUES (2, 94)
INSERT [dbo].[userNchat] ([UserID], [ChatID]) VALUES (2, 119)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Chat1] FOREIGN KEY([ChatID])
REFERENCES [dbo].[Chat] ([ChatID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Chat1]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Users] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Users]
GO
ALTER TABLE [dbo].[userNchat]  WITH CHECK ADD  CONSTRAINT [FK_userNchat_Chat] FOREIGN KEY([ChatID])
REFERENCES [dbo].[Chat] ([ChatID])
GO
ALTER TABLE [dbo].[userNchat] CHECK CONSTRAINT [FK_userNchat_Chat]
GO
ALTER TABLE [dbo].[userNchat]  WITH CHECK ADD  CONSTRAINT [FK_userNchat_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[userNchat] CHECK CONSTRAINT [FK_userNchat_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[status] ([statusID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_status]
GO
USE [master]
GO
